# Dependencias
node_modules/

# Builds
dist/
build/

# Entornos
.env
.env.local
.env.development
.env.production
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistemas
.DS_Store
Thumbs.db

# Vite
.vite/
